.cart-table {
    max-width: 700px;
}
tfoot {
    font-weight: bold;
}

.button-cell-width {
    width: max-content;
}

.show-cart {
    display: flex;
    justify-content: center;
}

.cart-body {
    margin: 40px auto;
}