.add-remove {
    padding: 0px 3px;
}

tfoot {
    font-weight: bold;
}

// td {
//     padding: 3px 5px;
// }

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

.button-cell-width {
    width: max-content;
}