body {
    margin: 0 auto;
    max-width: 1440px;
}

.logo-container {
    margin: 20px auto;
    width: min-content;
}

.logo {
    text-decoration: none;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    color: $logo-color;
    border: thin $logo-color solid;
    padding: 0 25px;
    transition-property: background-color;
    transition-duration: 1s;

    &:hover {
        cursor: pointer;
        background-color: $logo-background-color-hover;
    }
}

.navigation {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.menu {
    text-decoration: none;
    color: black;
    background-color: $menu-background-color;
    border-radius: 5px;
    padding: 10px 30px;
    transition-property: background-color;
    transition-duration: 1s;
    &:hover {
        background-color: $menu-background-color-hover;
    }
}