.products-col {
    margin: 15px auto;
}

.list-image {
    border-radius: 7px;
    max-width: 100%;
}

.list-detail {
    margin: 10px auto;
}

.view-button-container {
    display: flex;
    justify-content: end;
    align-self: center;
}

.view-button {
    background: $view-button-background-color;
    text-decoration: none;
    color: $view-button-color;
    padding: 5px 25px;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 1s;
    &:hover {
        background-color: $view-button-background-color-hover;
    }
}

.product-title, 
.product-description,
.reviewer-name {
    font-weight: bold;
    margin: 5px auto;
}

.product-description,
.product-price {
    font-weight: normal;
}

.product-price {
    width: max-content;
}

.reviewer-name {
    margin: 0;
}

.fa {
    color: lightblue
}

.review-checked {
    color: orange;
}

.incart {
    border-top: solid thin;
    border-bottom: solid thin;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 30px;
    width: fit-content;
}

.checkout-button {
    @extend .menu;
    width: fit-content;
    background-color: rgb(91, 210, 154);
    &:hover {
        background-color: rgb(40, 170, 109);
    }
}