@import url("https://fonts.googleapis.com/css2?family=Playwrite+TZ:wght@100..400&family=Satisfy&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

$logo-color: rgb(153, 99, 51);
$logo-background-color-hover: rgb(238, 225, 214);

$menu-background-color: rgb(202, 202, 202);
$menu-background-color-hover: rgb(129, 129, 129);

$view-button-background-color: rgb(128, 128, 128);
$view-button-background-color-hover: rgb(68, 68, 68);
$view-button-color: rgb(245, 245, 220);